html {
  font-family: 'Nanum Gothic', sans-serif;
}

// Base styling for the navbar
#mainNav {
  box-shadow: none;
  background-color: $white;
  transition: background-color transparent;
  .navbar-brand {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: $font-weight-bold;
    color: #8b2455;
  }
  .navbar-nav {
    .nav-item {
      .nav-link, .dropdown-item {
        color: #8b2455;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: #f794b8 !important;
        }
        &.active {
          color: #f794b8 !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: $box-shadow;
    background-color: transparent;
    .dropdown-menu {
      background-color: white;
      box-shadow: $box-shadow;
      border-radius: 0;
      border: none;
      width: 100%;
    }
    .navbar-brand {
      color: fade-out($white, .3);
      &:hover {
        color: #f794b8;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, .3);
          padding: 0 1rem;
          &:hover {
            color: #f794b8;
          }
        }
        .dropdown-item {
            color: #8b2455;
            padding: 0 1rem;
            &:hover {
              color: #f794b8;
            }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: $white;
      opacity: 0.9;
      .navbar-brand {
        color: #8b2455;
        &:hover {
          color: #f794b8;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #8b2455;
            &:hover {
              color: #f794b8;
            }
          }
        }
      }
    }
  }
}
a {
  color: #8b2455;
  background: transparent !important;
}
